# DATA SCIENCE TOOLS AND ECOSYSTEM

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. PYTHON
3. SQL
4. JAVA
5. C++

SOME OF THE COMMONLY USED LIBRARIES FOR DATA SCIENCE
1. TENSORFLOW
2. PANDAS
3. NUMPY
4. MATPLOTLIB
5. KERAS

| DATA SCIENCE TOOLS|
|---|
|APACHE HADOOP|
|TENSORFLOW|
|SAS|

### BELOW ARE FEW EXAMPLES OF EVALUATING ARITHMETIC EXPRESSIONS IN PYTHON

In [2]:
#THIS IS A SIMPLE ARITHMETIC EXAMPLE TO MULTIPLY AND ADD AN INTEGER
(3*4)+5

17

In [3]:
#THIS WILL CONVERT 200 MINUTES INTO HOURS BY DIVIDING BY 60
200/60

3.3333333333333335

_OBJECTIVE_
* LIST POPULAR DATA SCIENCE TOOLS
* LIST DATA SCIENCE LIBRARIES 
* LIST DATA SCIENCE LANGUAGES
* HOW TO ADD COMMENTS
* CREATING A TABLE

## AUTHOR NAME
ANJAN KISHORE G